body {
  margin: 0;
  font-family: 'Quattrocento Sans', sans-serif;
  text-align: center;
  background-color: #c3c8c9;
}

header {
  background-color: #25373A;
  margin-bottom: 20px;
  height: 55px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
  line-height: 55px;
  color: #c3c8c9;
}

header h2 {
  margin: 0;
}

table {
  width: 80%;
  max-width: 900px;
  min-width: 340px;
  color: #fff;
  margin: auto;
  background-image: linear-gradient(to right, #25373a 1%,#305860 25%,#305860 75%,#25373a 100%);
  border-spacing: 0 1px;
}

/* Table header */
thead tr th {
  padding: 10px;
  background-color: #282E33;
  color: #C7B746;
}

/* Table header last 2 cells*/
thead tr th:nth-last-child(-n+2):hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.active { /* Active property to display current sort */
  color: #E44C33;
}

td { /* Table cells */
  padding: 5px 10px;
  background-color: rgba(37,55,58,1);
}

img {
  width: 50px;
  height: 50px;
  box-shadow: 0 0 3px 2px #305860;
}

.avatarCell {
  display: flex;
}

.avatarCell p {
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:visited {
  color: #999;
}

a:hover {
  color: #C7B746;
}

@media screen and (min-width : 992px) {
  header,
  table thead {
    font-size: 20px;
  }
}

/* Media query for mobile view */
@media screen and (max-width : 430px) {
  img {
    display: none;
  }
  td {
    padding: 5px 0;
  }
  header, thead {
    font-size: 14px;
  }
}
